<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.mapper.AttributeMapper">

    <select id="getAttributeById" resultType="com.emall.entity.Attribute" parameterType="int">
        select *
        from pms_attribute
        where id = #{id}
          and deleted != 1;
    </select>
    <select id="list" resultType="attribute">
        select * from pms_attribute;
    </select>
    <insert id="add"  parameterType="attribute">
        insert into pms_attribute(name,goods_id) value (#{name},#{goodsId})
    </insert>
</mapper>