<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emall.mapper.SizeMapper">
    <select id="getSizeById" resultType="com.emall.entity.Size" parameterType="int">
        select *
        from pms_size
        where id = #{id}
          and deleted != 1;
    </select>


</mapper>